body {
	background-color: rgb(215, 244, 255);
	font-family: Sans-Serif;
	margin: 0px;
}

header {
	margin: 4vw;
}

button {
	width: 30%;
	background: #3498db;
  	padding: 4px 0;
  	margin-top: 4px;	
}

input {
	width: 25%;
  	padding: 4px 0;
  	margin-top: 4px;
}

select {
	width: 30%;
  	padding: 4px 0;
  	margin-top: 4px;
}

footer {
	height: 180px;
	display:inline-block;
	width: 100%;
	background: #3498db;
	margin-top: 50px;
}

.addVarBtn {
	margin-top: 20px; 
}

.numInput {
	width: 10%;
}

#settings {
	display: inline-block;
	float: left;
	width: 50%;

}

#reqAttribs {
	margin-bottom: 15px;
}

#Tag {
	width: 10%;
}

.varTag {
	width: 10%;
}

.check {
	width:	3%;
	margin: 5px;
}

#codeSection {
	display: inline-block;
	width: 50%;
	float:right;

}

#app{
	margin: 4vw;
}