body {
	background-color: rgb(215, 244, 255);
	font-family: Sans-Serif;
	margin: 4vw;
}

button {
	width: 30%;
	background: #3498db;
  	padding: 4px 0;
  	margin-top: 4px;
}

input {
	width: 30%;
  	padding: 4px 0;
  	margin-top: 4px;
}

select {
	width: 30%;
  	padding: 4px 0;
  	margin-top: 4px;
}

#settings {
	display: inline-block;
	float: left;
	width: 50%;

}

#reqAttribs {
	margin-bottom: 10px;
}

#Tag {
	width: 10%;
}

#codeSection {
	display: inline-block;
	width: 50%;
	float:right;

}